@model ThesisDatenbank.Models.Thesis

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Neue Thesis anlegen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bachelor" /> @Html.DisplayNameFor(model => model.Bachelor)
                </label>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Master" /> @Html.DisplayNameFor(model => model.Master)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="Supervisor.Chair" class="form-label"></label>
                <select id="SelectChair" class="form-control" asp-items="ViewBag.Chairs">
                    <option value="">--- Auswählen ---</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Supervisor" class="form-label"></label>
                <select id="SelectSupervisor" asp-for="SupervisorId" class="form-control" asp-items="ViewBag.Supervisors">
                    <option value="">--- Auswählen ---</option>
                </select>
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Abbrechen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#SelectChair").on("change", function () {
                $.get("@Url.Action("GetSupervisorSelectList")", {
                    chairId: this.value
                },
                    function (data, status, jq) {
                        var items = "<option value=''>--- Auswählen ---</option>";
                        $(data).each(function () {
                            items += "<option value='" + this.value + "'>" + this.text + "</option>";
                        });
                        $("#SelectSupervisor").html(items);
                    });
            });

            $("#SelectSupervisor").on("change", function () {
                $.get("@Url.Action("GetChairId")", {
                    supervisorId: this.value
                },
                    function (data, status, jq) {
                        $("#SelectChair").val(data);
                    });
            });
        });
    </script>
}
