@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen!</h1>
    <p>Mit dieser Webseite können Thesen verwaltet werden.</p>
    <br />
    <img src="~/images/thesis-chalk.jpg" class="center" width="80%" />
</div>
